@charset "UTF-8";

body {
    text-align: center;
}

p {
    font-size: 0.85rem;
    color: #000000;
    text-align: left;
}

.header_top {
    text-align: left;
}

.header_top p {
    font-weight: bold;
}

.bar {
    height: 25px;
    color: #ffffff;
    background: #001754;
}

h2 {
    height: 25px;
    font-size: 1rem;
    color: #ffffff;
    background: #001754;
    text-align: left;
    padding: 5px 0 0 5px;
}

.header_navi {
    max-width: 1600px;
    display: flex;
    font-size: 0.75rem;
}


.headline {
    font-weight: bold;
    text-align: center;
}

ul, ol {
    padding-left: 20px;
}

li {
    text-align: left;
}

.main_section_detail {
    border-bottom: 2px solid #001754;
}

.headline2 {
    font-size: 1rem;
    font-weight: bold;
    color: #001754;
}

span {
    font-weight: bold;
}

section {
    margin-bottom: 30px;
}

footer {
    border-top: 2px solid #001754;
}


/*画面サイズが481px以上の場合のCSS*/
@media screen and (min-width: 481px) {
    .sp_part {
        display: none;
    }

    .wrapper {
        max-width: 980px;
        margin: 0 auto;
        padding: 0;
    }

    .header_wrapper {
        max-width: 2500px;
    }

    .navi_menu {
        width: 245px;
        height: 25px;
        margin: 10px 2px 10px;
        padding: 5px 0 0;
    }

    .navi_menu2 {
        width: 800px;
        height: 25px;
        margin: 10px 2px 10px;
        padding: 5px 0 0;    
    }

    .menu1 {
        margin: 10px 2px 10px 0;
    }

    main {
        display: flex;
        justify-content: space-between;

    }

    .page-main {
        width: 700px;
        margin: 10px 0 30px;
    }

    .main_article {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
    }

    .main_contents {
        width: 240px;
        margin: auto;
    }

    .content1 {
        text-align: left;
        margin-right: 10px;
    }
    
    .content2 {
        text-align: right;
        margin-left: 10px;
    }

    aside {
        max-width: 260px;
        margin: 30px 0;
    }

    tr {
        color: #000000;
        text-align: left;
        border: 1px solid #cccccc;
        border-collapse: collapse;
    }
    
    th {
        width: 235px;
        height: 45px;
        background: #cccccc;
        border-collapse: collapse;
        padding: 10px;
    }
    
    td {
        width: 460px;
        background: #ffffff;
        border: 1px solid #cccccc;
        border-collapse: collapse;
        padding: 10px;
    }

    textarea {
        width: 420px;
        height: 200px;
    }
    
    .button {
        margin: 10px;
    }

    .footer_logo {
        text-align: left;
        margin: 10px;
    }

    .cr {
        text-align: center;
        padding: 10px 0 0;
    }
}


/*画面サイズが480px以下の場合のCSS*/
@media screen and (max-width: 480px) {
    .pc_part {
        display: none;
    }

    .wrapper {
        width: 480px;
        margin: 0 auto;
        padding: 0;
    }

    p {
        font-size: 0.3rem;
        color: #000000;
        text-align: left;
    }

    .header_top img, footer img {
        width: 40%;
    }

    .navi_menu {
        width: 120px;
        height: 25px;
        margin: 10px 2px 10px;
        padding: 5px 0 0;
    }

    .menu1 {
        margin: 10px 2px 10px 0;
    }

    h2 {
        width: 475px;
        font-size: 0.8rem;
    }

    .main_article {
        margin: 0 10px 30px;
    }

    .main_contents {
        width: 400px;
        margin: auto;
    }

    .main_contents img {
        width: 100%;
    }

    ul, ol {
        padding-left: 10px;
    }

    li {
        font-size: 0.5rem   ;
    }

    .headline2 {
        font-size: 0.6rem;
    }

    aside {
        max-width: 460px;
        margin: 30px 0;
    }

    aside img {
        width: 100%;
    }

    table {
        width: 460px;
    }

    tr {
        color: #000000;
        text-align: left;
        border: 1px solid #cccccc;
    }
    
    th {
        width: 442px;
        height: 20px;
        display: block;
        background: #cccccc;
        border-bottom: none;
        padding: 10px;
        text-align: left;
    }
    
    td {
        width: 440px;
        height: auto;
        display: block;
        background: #ffffff;
        border: 1px solid #cccccc;
        padding: 10px;
    }

    textarea {
        width: 400px;
        height: 100px;
    }
    
    .button {
        margin: 10px;
    }

    footer {
        width: 480px;
    }

    .footer_logo {
        margin: 10px;
    }

    .cr {
        text-align: center;
        padding: 10px 0 0;
    }
}
